<div class="nav">
    <h3>Welcome <span class="text-danger">First Angular</span> Project</h3>
    <span>
        <a routerLink='/'>Home</a> || <a routerLink='/login'>Login</a>
    </span>
</div> 
<div class="signup-box">
    <!-- <form> -->
    <div class="content">
        <h2>SignUp</h2>
        <div class="content-align">
            <div class="content-row form-group">
                <label for="name">
                    UserName
                </label>
                <input id="name" type="text" class="form-control" required>
            </div>
            <div class="content-row form-group">
                <label for="email" >
                    Email
                </label>
                <input id="email" type="email" class="form-control" required>
            </div>
            <div class="content-row form-group">
                <label for="password">
                    Password
                </label>
                <input id="password" type="password" class="form-control" minlength="5"required>
            </div>
            <button class="button" type="submit">SignUp</button>
        </div>
    </div>  
      <!-- </form> -->
    </div>
    
