<div class="nav">
    <h3>Welcome <span class="text-danger">First Angular</span> Project</h3>
    <span>
        <a routerLink='/login'>Login</a> || <a routerLink='/signup'>SignUp</a>
    </span>
</div>
<div class="home-body">
    <div class="learn-box">
        <h2>Learning Ports</h2>
        <span class="course-list">
            <img src='../../assets/images/react.png'/>
            <img src='../../assets/images/angular.png'/>
            <img src="../../assets/images/node.png"/>
            <img src="../../assets/images/vue.png"/>
            <img src="../../assets/images/postgres.png"/>
            <img src="../../assets/images/ruby.png"/>
            <img src="../../assets/images/prisma.png"/>
        </span>
        <p class="text-mute">scroll--></p>
    </div>
</div>
